@keyframes crawler {
    0% {transform: translate3d(0,100vh,0); opacity: 0;}
    .5% {transform: translate3d(0,100vh,0); opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0;}
    100% {transform: translate3d(0,-100vh,0);}
}

@keyframes showHide {
    from {opacity: 1;}
    to {opacity: 0;}
}

body {
    background: black;
    background-image: url("./img/space.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    color: yellow;
    
    font-family: Impact, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

img {
    display: block;
    
    margin: 0 auto;
}

.longtime {
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
    
    font-family: arial;
    text-align: center;
    
    color: skyblue;
    opacity: 0;
    
    transition: .5s ease;
    
    animation-name: showHide;
    animation-duration: 9s;
    
    line-height: 100vh;
    
    width: 100;
    text-align: cent er;
    
    background: black;
}

.perspective {
    display: block;
    
    max-width: 600px;
    
    margin: 0 auto;
    
    transform: perspective(300px) rotateX(25deg);
}

.slider {
    animation-name: crawler;
    animation-duration: 60s;
    
    opacity: 0;
}

p {
    line-height: 2em;
    
    width: 100%;
}