@font-face {
    font-family: RobotoM;
    src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Wimp-Out;
    src: url("./fonts/wimpe.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 50px 0 0 0;
    padding: 0;
    
    font-family: Roboto;
}

.topBar {
    display: block;
    margin: 0;
    
    position: fixed;
    
    top: 0;
    left: 0;
    
    width: 100%;
    
    height: 50px;
    
    background: rgba(255,255,255,.7);
    
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    font-family: RobotoM;
}

h1 {
    margin: 0;
    padding: 0 15px;
    
    line-height: 50px;
    
    color: darkgreen;
    text-shadow: 1px 0 2px white;
    
    font-family: Wimp-Out;
}

.welcome { 
    background-image: url("./img/forest.jpg");
    background-position: top center;
    background-size: cover;
    
    min-height: 600px;
    
    margin-bottom: 120px;
}

.box {
    display: block;
    float: left;
    
    color: white;
    background-color: rgba(0,0,0,.7);
    
    width: 400px;
    
    margin-left: 50%;
    padding: 10px;
    
    border-radius: 10px;
    
    margin-top: 400px;
    
    text-align: center;
    
    transform: translateX(-50%)
}
.boxtitle {
    margin: 5px auto;
    color: greenyellow;
}

a.button { 
    display: block;
    
    padding: 5px;
    
    background: yellow;
    color: darkgreen;
    
    font-family: RobotoM;
    text-decoration: none;
    
    padding: 5px;
    margin: 10px auto;
    
    width: 120px;
    
    border: 1px solid yellow;
    
    border-radius: 3px;
    
    transition: .2s ease-in-out;
}
a.button:hover {
    background: transparent;
    color: yellow;
    border: 1px solid white;
    
    transform: scale(1.1);
}

.about ul li p { line-height: 1.5em; }

ul.three_col {
    display: block;
    max-width: 800px;
    
    list-style: none;
    
    margin: 0 auto;
}
ul.three_col li {
    float: left; 
    width: 220px;
    margin-right: 50px;
    padding-bottom: 50px;
}
ul.three_col li:last-child {
    margin-right: 0;
}

ul.three_col li h2 {
    height: 64px;
}

.quotesection {
    clear: both;
    
    margin: 20px 0 0 0;
    
    background-image: url("./img/tiger.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
    line-height: 250px;
    
    color: white;
}

.quotesection:before {
    content: "";
    display: block;
    
    float: left;
    width: 100%;
    height: 75px;
    
    background: white;
    
    transform: skewY(-2deg) translateY(-35px);
}

.quotesection:after {
    content: "";
    display: block;
    float: left;
    
    width: 100%;
    height: 85px;
    
    background: #151515;
    
    transform: skewY(-2deg) translateY(-50px);
}

.quote {
    background: rgba(0,0,0,.7);
    display: block;
    
    line-height: 2em;
    font-size: 2em;
    
    margin: 0 auto;
}

.quote h3 { 
    display: block;
    width: 800px; 
    margin: 0 auto;
    padding: 33vh 0;
}

.playersection { 
    padding: 50px 0 100px ;
    margin: 0 auto;
    
    background: #151515;
    color: white;
}

.playersection ul {
    display: block;
    
    list-style: none;
    padding-left: 0;
    
    width: 800px;
    height: 300px;
    margin: 20px auto;
}

.playersection ul li.player {
    display: block;
    float: left;
    width: 530px;
}
.video_climate {
    display: block;
    
    width: 100%;
    border: 0;
}

.playersection ul li.player_text {
    float: right;
    width: 220px;
}
.player_text p { line-height: 33px; }

.others {
    clear: both;
    display: block;
    padding: 50px;
    
    background-color: #dedede;
    
    text-align: center;
}

.others h2 {
    font-size: 2em;
    color: #afafaf;
    padding-bottom: 35px;
}

.assos { 
    display: inline-block;
    
    width: 800px;
    margin: 0 auto;
    height: 100%; 
    
    list-style: none;
    padding-left: 0;
}


.assos li {
    float: left; 
    display: block;
    
    margin: 0 28px 28px 0;
    width: 179px;
    height: 179px;
    
    border-radius: 50%;
    
    background: rgba(255,255,255,.6);
}
.assos li:nth-child(4n) {
    margin: 0 0 28px 0;
}



