body {
    background: #ebebeb;
    color: #858585;
    padding: 5px;
}

.box {
    display: block;
    box-sizing: border-box;
    
    width: 500px;
    margin: 15px auto;
    padding: 20px;
    
    text-align: center;
    
    background: white;

    border-radius: 5px;
    
    box-shadow: 0 1px 2px #d4d4d4;
}

a { 
    text-decoration: none;
    
    transition: .2s ease;
}
a:hover {
    transform: scale(.95);
}

p {
    text-align: justify;
    font-family: Open Sans;
    
    line-height: 160%;
    font-weight: 300;
    
    margin: 10px auto;
}

h1, h2, h3 {
    font-family: Montserrat;
}

h1 {
    color: #d55;
    margin: 10px;
}

h2, h3 {
    font-weight: 400;
}

h2 {
    font-size: 1.2em;
}

h3 {
    margin-top: 0;
}

.pdp {
    width: 100px;
    height: 100px;
    
    box-sizing: border-box;
    border: 3px solid #ebebeb;
    border-radius: 50%;
}

.button {
    display: block;
    width: 135px;
    
    font-family: Open Sans;
    color: white;
    
    padding: 12px;
    margin: 0 auto;
    
    background: #d55;
    border-radius: 3px;
}

.backgrey {
    background-color: #d4d4d4;
}
.minimize {
    text-transform: lowercase;
}

tr {
    display: grid;
    grid-template-columns: 25% 73%;
    column-gap: 2%;
    
    margin: 15px 0;
}
td {
    padding: 10px;
}
td p {
    font-size: .85em;
}

img {
    width: 100%;
}

.boxlist {
    display: flex;
    height: 160px;
}

ul {
    padding-left: 0;
    height: 50px;
    margin: auto;
}

ul li {
    display: block;
    float: left;
    margin: 0 15px;
}

ul li a {
    font-family: Open Sans;
    color: #ccc;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: -1px;
}